aiofiles==24.1.0
certifi==2025.4.26
charset-normalizer==3.4.2
coloredlogs==15.0.1
et_xmlfile==2.0.0
httptools==0.6.4
humanfriendly==10.0
idna==3.10
multidict==5.2.0
openpyxl==3.1.5
packaging==20.9
pillow==11.2.1
pluggy==1.6.0
prompt-toolkit==3.0.28
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
rasa-sdk==3.6.2
requests==2.32.3
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
sanic==21.12.2
Sanic-Cors==2.0.0
sanic-routing==0.7.2
shiboken6==6.9.0
typing_extensions==4.13.2
ujson==5.10.0
urllib3==2.4.0
uvloop==0.21.0
wcwidth==0.2.13
websockets==10.4
